 
<div >
    <div class="row">
        <div >
            <h3 id="heading">Frequently Asked Questions</h3>
        </div>
    </div>
    <uib-accordion close-others>
        <uib-accordion-group is-open="status.first" >
            <uib-accordion-heading>
        Q1. What is LorenIpsum? 
                <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': status.first, 'glyphicon-chevron-right': !status.first}"></i>
            </uib-accordion-heading>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.    
        </uib-accordion-group>
        <uib-accordion-group is-open="status.second" >
            <uib-accordion-heading>
        Q2. What is LorenIpsum? 
                <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': status.second, 'glyphicon-chevron-right': !status.second}"></i>
            </uib-accordion-heading>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.    
        </uib-accordion-group>
        <uib-accordion-group is-open="status.third" >
            <uib-accordion-heading>
        Q3. What is LorenIpsum? 
                <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': status.third, 'glyphicon-chevron-right': !status.third}"></i>
            </uib-accordion-heading>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.    
        </uib-accordion-group>
        <uib-accordion-group is-open="status.fourth" >
            <uib-accordion-heading>
        Q4. What is LorenIpsum? 
                <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': status.fourth, 'glyphicon-chevron-right': !status.fourth}"></i>
            </uib-accordion-heading>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.    
        </uib-accordion-group>
        <uib-accordion-group is-open="status.isCustomHeaderOpen" >
            <uib-accordion-heading>
        Q5. What is LorenIpsum? 
                <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': status.isCustomHeaderOpen, 'glyphicon-chevron-right': !status.isCustomHeaderOpen}"></i>
            </uib-accordion-heading>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.    
        </uib-accordion-group>
    </uib-accordion>
</div>